
@media screen and (max-width: 1450px) {
    header {
        width: 100% !important;
        box-sizing: border-box;
        margin: 0 auto;
        padding: 20px 15px;
        left: 0 !important;
    }

    .center {
        max-width: 98%;
    }

    header .logo {
        margin-left: 0px;
    }

    header .right {
        margin-right: 20px;
    }
} 


@media screen and (max-width: 1200px) {
    header .menu {
        justify-content: center !important;
    }

}

@media screen and (max-width: 890px) {
    header .menu a {
        font-size: 14px;
    }

    header .right img {
        width: 20px;
        height: 20px;
    }

    header .logo {
        width: 170px !important;
        height: 80px !important;
    }
}


@media screen and (max-width: 768px) {
    header .menu {
        display: none;
    }

    header .right {
        display: none;
    }

    header .burgerMenuOpen {
        display: flex;
    }

    header {
        justify-content: center;
    }

    header .burgerMenuOpen {
        position: fixed;
        right: 10px;
        top: 20px;
        margin-right: 0 !important;
    }
}

@media screen and (max-width: 500px) {
    .burgerMenu .top {
        padding: 20px;
    }

    .burgerMenu {
        height: 440px !important;
    }

    .burgerMenu .menu a {
        font-size: 24px;
    }
}