
@media screen and (max-width: 1450px) {
    .matchStats .players {
        width: 98%;
    }
    
    .matchStats .title {
        width: 95%;
        box-sizing: border-box;
    }
}


@media screen and (max-width: 890px) {
    .matchStats .players .leftPlayer img {
        left: 50px;
        width: 100px;
        height: 100px;
    }

    .matchStats .players .rightPlayer img {
        right: 50px;
        width: 100px;
        height: 100px;
    }

    .matchStats .players .centerBlock {
        gap: 5px;
        top: 40%;
        width: 38%;
        left: 29%;
    }

    .matchStats .stats .careerStats .items {
        width: 94%;
    }

    .matchStats .stats .playerProfile .items {
        width: 94%;
    }

    .matchStats .stats .prevMatches .matches {
        width: 94%;
    }

    .matchStats .double .players .centerBlock {
        top: 98%;
        width: 60%;
        left: 18%;
        box-shadow: 0px 1px 5px 0px black;
    }

    .matchStats .double .stats {
        padding-top: 150px;
    }

    .matchStats .double .players .centerBlock {
        gap: 16px;
    }
}

@media screen and (max-width: 768px) {

    .matchStats .stats .careerStats, .matchStats .stats .playerProfile, .matchStats .stats .prevMatches {
        gap: 15px;
    }


    .matchStats .stats h4 {
        font-size: 20px !important;
    }

    .matchStats .players .centerBlock {
        top: 90%;
        width: 70%;
        left: 12%;
        box-shadow: 0px 1px 5px 0px black;
    }

    .matchStats .stats {
        gap: 30px;
    }

    .matchStats .stats .statsBar {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: max-content max-content;
        align-items: center;
        gap: 0;
        column-gap: 10px;
        row-gap: 15px;
        padding-top: 40px;
    }

    .matchStats .stats .statsBar .left {
        grid-column: 1;
        grid-row: 2;
        width: max-content;
        justify-self: end;
        align-self: start;
    }

    .matchStats .stats .statsBar .right {
        grid-column: 2;
        grid-row: 2;
        width: max-content;
        align-self: start;
    }

    .matchStats .stats .statsBar .centerItem {
        grid-column: 1/span 2;
        grid-row: 1;
        align-self: center;
    }


    .matchStats .stats .statsBar .right h2 {
        width: max-content;
    }

    .matchStats .stats .statsBar .left h2 {
        width: max-content;
    }

    .matchStats .stats {
        padding-top: 0;
    }

    .matchStats .stats .playerProfile .items .right span,
    .matchStats .stats .playerProfile .items .left span,
    .matchStats .stats .playerProfile .items .centerItem span {
        font-size: 14px;
    }

    .matchStats .stats .playerProfile h4 {
        font-size: 32px;
    }

    .matchStats .stats .careerStats .items > div {
        gap: 30px;
    }

    .matchStats .stats .prevMatches .matches .matchItem {
        gap: 32px;
    }

    .matchStats .stats .prevMatches h4 {
        font-size: 28px;
    }

    .matchStats .double .stats {
        padding-top: 50px;
    } 

    .matchStats .double .players .rightPlayer img {
        position: static;
        width: 80px;
        height: 80px;
    }

    .matchStats .double .players .rightPlayer {
        display: flex;
        gap: 10px;
        justify-content: center;
    }

    .matchStats .double .players .leftPlayer img {
        position: static;
        width: 80px;
        height: 80px;
    }

    .matchStats .double .players .leftPlayer {
        display: flex;
        gap: 10px;
        justify-content: center;
    }

    .filter {
        padding: 0;
        padding-top: 80px;
        justify-content: center;
        display: flex;
        width: 100%;
        gap: 10px;
    }

    .filter span {
        font-size: 14px;
        padding: 10px;
    }

    .matchStats .stats .playerProfile .items .centerItem span {
        text-align: center;
    }

    .double .filter {
        padding-top: 150px !important;
    }

    .matchStats .double .stats .statsBar {
        padding-top: 0;
    }
}

@media screen and (max-width: 500px) {
    .matchStats .players .leftPlayer,
    .matchStats .players .rightPlayer {
        justify-content: center;
        align-items: center;
    }

    .matchStats .players .leftPlayer img {
        left: 0;
        width: 110px;
        height: 110px;
        position: static;
    }

    .matchStats .players .rightPlayer img {
        width: 110px;
        height: 110px;
        right: 0;
        position: static;
    }

    .matchStats .players .centerBlock {
        width: 90%;
        left: 1px;
    }

    .matchStats .stats .careerStats .items .centerItem span,
    .matchStats .stats .careerStats .items .right span,
    .matchStats .stats .careerStats .items .left span {
        font-size: 14px;
    }

    .matchStats .stats .careerStats h4 {
        font-size: 32px;
    }

    .matchStats .stats .playerProfile .items .left,
    .matchStats .stats .playerProfile .items .right {
        gap: 30px;
    }

    .matchStats .stats .playerProfile .items .centerItem {
        gap: 38px;
    }

    .matchStats .stats .prevMatches .matches .matchItem {
        flex-direction: column;
        gap: 10px;
    }

    .matchStats .stats .prevMatches .matches .matchItem .left {
        align-self: start;
    }


    .matchStats .double .players .rightPlayer {
        display: flex;
        gap: 10px;
        justify-content: center;
        flex-direction: column;
    }


    .matchStats .double .players .leftPlayer {
        display: flex;
        gap: 10px;
        justify-content: center;
        flex-direction: column;
    }

    .matchStats .double .players .centerBlock {
        width: 90%;
        left: 0;
        align-self: center;
    }

    .matchStats .double .stats .playerProfile h4 {
        font-size: 30px;
    }

    .matchStats .double .stats .playerProfile .items .player .top .left img {
        width: 80px;
        height: 80px;
    }

    .matchStats .double .stats .playerProfile .items .player .top .left .name span {
        font-size: 16px;
    }

    .matchStats .double .stats .playerProfile .items .player .top .country span {
        font-size: 16px;
    }

    .matchStats .double .stats .playerProfile .items .player .rank h4 {
        font-size: 14px;
    }

    .matchStats .double .stats .playerProfile .items .player .rank span {
        font-size: 14px;
    }

    .filterItem h4 {
        font-size: 14px;
    }

    .sets {
        row-gap: 0;
    }

    .matchStats .stats .prevMatches .matches .matchItem {
        flex-direction: column !important;
        gap: 0px !important;
        padding: 0 !important;
        border: none;
    }

    .matchStats .stats .prevMatches .matches .matchItem .left {
        padding: 0;
        padding-bottom: 10px;
    }

    .matchStats .stats .prevMatches .matches .matchItem .matchInfo .player .left {
        padding-left: 10px !important;
    }

    .matchStats .stats .prevMatches .matches .matchItem .matchTitle {
        border: 1px rgba(138, 130, 130, 0.137) solid !important;
        display: flex !important;
    }

    .matchStats .stats .prevMatches .matches .matchItem .matchTitle h4 {
        color: #7814ff;
        font-size: 14px !important;
    }

    .matchStats .stats .prevMatches .matches .matchItem .matchTitle span {
        font-weight: 700;
        color: rgba(0, 0, 0, 0.5);
    }

    .matchStats .stats .prevMatches .matches .matchItem .left {
        display: none;
    }

    .matchStats .stats .prevMatches .matches .matchItem .matchInfo .player .left{
        display: flex;
    }

    .matchStats .stats .prevMatches .matches .matchItem .matchInfo .player .left h5 {
        font-size: 14px !important;
    }
}